.slider {
  display: flex;
  justify-content: left ;
}

.div1 {
  float: left;
  width: 25%;
  display: block;
  text-align: left;
  
}

.div2 {
  display: block;
  text-align: center;

}

.form-check-label {
  color: black;
}




