<!--Definition der Navigationsleiste mit Links zu den verschiedenen Seiten -->
<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="materialien" class="nav-link">Materialfinder</a>

      </li>
      <li class="nav-item">
        <a routerLink="uebersicht" class="nav-link">Übersicht Materialien</a>
      </li>

      <li class="nav-item">
        <a routerLink="kontakt" class="nav-link">Kontakt</a>
      </li>
    </div>

  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
