



<ng-template [ngIf]="materialien!.length == 0">
  <p></p>
  <h3><b>Kein passendes Material zu diesen Filtereinstellungen</b></h3>
</ng-template>


<ng-template [ngIf]="materialien!.length != 0 && suche">

  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text"
             class="form-control"
             placeholder="Material suchen"
             [(ngModel)]="name" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary"
                type="button"
                (click)="searchName()">
          Suchen
        </button>
      </div>
    </div>
  </div>
</ng-template>


<div class="list row">


  <div class="col-md-6">
    <ng-template [ngIf]="materialien!.length != 0">
      <div class="d-flex justify-content-center">
        <pagination-controls previousLabel="Vorherige"
                             nextLabel="Nächste"
                             (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
    </ng-template>


    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let material of materialien!
          | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index "
          [class.active]="i == currentIndex"
          (click)="setActiveMaterial(material, i)">
        {{ material.name }} {{ material.handelsname}}
      </li>
    </ul>

    <ng-template [ngIf]="materialien!.length != 0">

      <div class="d-flex justify-content-center">
        <pagination-controls previousLabel="Vorherige"
                             nextLabel="Nächste"
                             (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
    </ng-template>



  </div>
  {{Ausgabe}}
  <div class="col-md-6">
    <div *ngIf="currentMaterial">
      <h4><strong>{{ currentMaterial.name }}</strong></h4>
      <ng-template [ngIf]="currentMaterial.fachbezeichnung != ''">
        <div>
          <label><strong>Fachbezeichnung:</strong></label>
          {{ currentMaterial.fachbezeichnung}}
        </div>
      </ng-template>
      <div>
        <label><strong>Materialart:</strong></label>
        {{ currentMaterial.materialart}}
      </div>
      <ng-template [ngIf]="currentMaterial.verfahren != 'unbekannt' ">
        <div>
          <label><strong>Verfahren:</strong></label>
          {{ currentMaterial.verfahren}}
        </div>
      </ng-template>
      <p></p>
      <ng-template [ngIf]="currentMaterial.waermeformbestaendigkeit != 0">
        <div>
          <label><strong>Wärmeformbeständig bis:</strong></label>
          {{ currentMaterial.waermeformbestaendigkeit}}°C
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.glasuebergangstemp != 0">
        <div>
          <label><strong>Glasübergangstemperatur:</strong></label>
          {{ currentMaterial.glasuebergangstemp}}°C
        </div>
      </ng-template>
      <ng-template [ngIf]="currentMaterial.schmelzpunkt != 0">
        <div>
          <label><strong>Schmelzpunkt:</strong></label>
          {{ currentMaterial.schmelzpunkt}}°C
        </div>
      </ng-template>


      <ng-template [ngIf]="currentMaterial.temperaturbestaendig">
        <div>
          <label><strong>Sehr Temperaturbeständig:</strong></label>
          {{ currentMaterial.temperaturbestaendig ? "Ja" : "Nein"}}
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.temp_kalt != 0">

        <div>
          <label><strong>Geeignet für niedrige Temperaturen bis:</strong></label>
          {{ currentMaterial.temp_kalt}}°C
        </div>
      </ng-template>
      <p></p>

      <ng-template [ngIf]="currentMaterial.haerte != 30 && (currentMaterial.haerte + '').length != 0">

        <div>
          <label><strong>Härte:</strong></label>
          {{ currentMaterial.haerte}} Shore D
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.haerte_hv != 100 && (currentMaterial.haerte_hv + '').length != 0">

        <div>
          <label><strong>Härte:</strong></label>
          {{ currentMaterial.haerte_hv}} HV
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.dichte != 10">

        <div>
          <label><strong>Dichte:</strong></label>
          {{ currentMaterial.dichte}} g/mm<sup>3</sup>
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.wandstaerke != 2">

        <div>
          <label><strong>min. benötigte Wandstärke:</strong></label>
          {{ currentMaterial.wandstaerke}}mm
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.festigkeit">

        <div>
          <label><strong>Hohe Festigkeit:</strong></label>
          {{ currentMaterial.festigkeit ? "Ja" : "Nein"}}
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.bruchfest">

        <div>
          <label><strong>Bruch- und schlagfest:</strong></label>
          {{ currentMaterial.bruchfest ? "Ja" : "Nein"}}
        </div>
      </ng-template>


      <ng-template [ngIf]="currentMaterial.elastisch">

        <div>
          <label><strong>Flexibel:</strong></label>
          {{ currentMaterial.elastisch ? "Ja" : "Nein" }}
        </div>
      </ng-template>


      <ng-template [ngIf]="currentMaterial.lebensmittelecht">

        <div>
          <label><strong>transparent:</strong></label>
          {{ currentMaterial.lebensmittelecht ? "Ja" : "Nein" }}
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.langlebig">

        <div>
          <label><strong>langlebig:</strong></label>
          {{ currentMaterial.langlebig ? "Ja" : "Nein" }}
        </div>
      </ng-template>

      <p></p>
      <ng-template [ngIf]="currentMaterial.uvbestaendig||currentMaterial.witterungsbestaendig ||currentMaterial.chemisch_bestaendig ||currentMaterial.oele_bestaendig || currentMaterial.feuchtigkeits_bestaendig || currentMaterial.korrosionsbestaendig">
        <div><h5><strong>Beständig gegen:</strong></h5></div>
      </ng-template>


      <ng-template [ngIf]="currentMaterial.uvbestaendig">


        <div>
          <label><strong>UV-Strahlung:</strong></label>
          {{ currentMaterial.uvbestaendig ? "Ja" : "Nein" }}
        </div>
      </ng-template>


      <ng-template [ngIf]="currentMaterial.witterungsbestaendig">

        <div>
          <label><strong>Witterung:</strong></label>
          {{ currentMaterial.witterungsbestaendig ? "Ja" : "Nein" }}
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.chemisch_bestaendig">

        <div>
          <label><strong>Chemikalien:</strong></label>
          {{ currentMaterial.chemisch_bestaendig ? "Ja" : "Nein" }}
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.oele_bestaendig">

        <div>
          <label><strong>Öle und Fette:</strong></label>
          {{ currentMaterial.oele_bestaendig ? "Ja" : "Nein" }}
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.feuchtigkeits_bestaendig">

        <div>
          <label><strong>Feuchtigkeit:</strong></label>
          {{ currentMaterial.feuchtigkeits_bestaendig ? "Ja" : "Nein" }}
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.korrosionsbestaendig">

        <div>
          <label><strong>Korrosion:</strong></label>
          {{ currentMaterial.korrosionsbestaendig ? "Ja" : "Nein" }}
        </div>
      </ng-template>

      <p></p>
      <p></p>


      <ng-template [ngIf]="currentMaterial.lebensmittelecht">

        <div>
          <label><strong>Lebensmittelecht:</strong></label>
          {{ currentMaterial.lebensmittelecht ? "Ja" : "Nein" }}
        </div>
      </ng-template>



      <ng-template [ngIf]="currentMaterial.biokompatibel">

        <div>
          <label><strong>Biokompatibel:</strong></label>
          {{ currentMaterial.biokompatibel ? "Ja" : "Nein"}}
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.sterilisierbar">

        <div>
          <label><strong>Sterilisierbar:</strong></label>
          {{ currentMaterial.sterilisierbar ? "Ja" : "Nein" }}
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.entflammbar">

        <div>
          <label><strong>Schwer entflammbar:</strong></label>
          {{ currentMaterial.entflammbar ? "Ja" : "Nein" }}
        </div>
      </ng-template>

      <ng-template [ngIf]="currentMaterial.umweltvertraeglich">
        <div>
          <label><strong>Umweltverträglich:</strong></label>
          {{ currentMaterial.umweltvertraeglich ? "Ja" : "Nein" }}
        </div>
      </ng-template>

      <ng-template [ngIf]="!currentMaterial.firmeneigen">
        <div>
          <label><strong>Frei verfügbar:</strong></label>
          {{ currentMaterial.firmeneigen ? "Nein" : "Ja"}}
        </div>
      </ng-template>

      <p></p>
      <ng-template [ngIf]="currentMaterial.bereiche !='leer'">
        <div>
          <label><strong>Einsatzbereiche:</strong></label>
          {{ currentMaterial.bereiche }}
        </div>
      </ng-template>
      <p></p>
      <ng-template [ngIf]="currentMaterial.verwendung !=''">
        <div>
          <label><strong>Verwendung:</strong></label>
          {{ currentMaterial.verwendung }}
        </div>
      </ng-template>
      <p></p>
      <ng-template [ngIf]="currentMaterial.vorteile !=''">
        <div>
          <label><strong>Vorteile:</strong></label>
          {{ currentMaterial.vorteile}}
        </div>
      </ng-template>
      <p></p>
      <ng-template [ngIf]="currentMaterial.nachteile !=''">
        <div>
          <label><strong>Nachteile:</strong></label>
          {{ currentMaterial.nachteile}}
        </div>
      </ng-template>


    </div>

    <ng-template [ngIf]="materialien!.length != 0">
      <div *ngIf="!currentMaterial">
        <br />
        <p>Bitte ein Material anklicken...</p>
      </div>
    </ng-template>




  </div>



  
</div>
